@using RedoMusic.Domain.Entities
@model List<Instrument>

<div class="container mt-3 text-center">
    <h2 style="color: navy;">
        🎻 Instruments 🎸
    </h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Barcode</th>
                <th>Production Year</th>
                <th>Price</th>
                <th>Color</th>
                <th>Picture</th>
                <th>Category</th>
                <th>Brand</th>
                <th></th> <!-- Boş hücre ekleyerek "Delete" butonunun olduğu sütunu oluşturdum -->
                <th></th> <!-- Boş hücre ekleyerek "Update" butonunun olduğu sütunu oluşturdum -->
                <th></th> <!-- Boş hücre ekleyerek "Details" butonunun olduğu sütunu oluşturdum -->
            </tr>
        </thead>
        <tbody>
            @foreach (var instrument in Model)
            {
                <tr>
                    <td>@instrument.Name</td>
                    <td>
                        <div style="max-width: 200px; word-wrap: break-word;">
                            @instrument.Description
                        </div>
                    </td>
                    <td>@instrument.Barcode</td>
                    <td>@instrument.ProductionYear</td>
                    <td>@instrument.Price</td>
                    <td>@instrument.Color</td>
                    <td>
                        <img src="@instrument.Picture" alt="@instrument.Name" style="max-width: 100px;" />
                    </td>
                    <td>
                        @if (instrument.Category != null)
                        {
                            @instrument.Category.CategoryName
                        }
                    </td>
                    <td>
                        @if (instrument.Brand != null)
                        {
                            @instrument.Brand.Name
                        }
                    </td>
                    <td><a asp-action="DeleteInstrument" asp-route-id="@instrument.Id" class="btn btn-outline-danger">Delete</a></td>
                    <td>
                        <a asp-action="UpdateInstrument" asp-route-id="@instrument.Id" class="btn btn-outline-primary">Update</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@instrument.Id" class="btn btn-outline-warning">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
